/* 
declaration block::

slector{

  property: value;
  property 2: value;
  
}
*/

body {
    background-color: rgb(242, 98, 8);
    color: honeydew;
}

nav {
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;
}

#memeImage {
    margin-right: 200px;
}

h1 {
    text-align: center;

}